/*VAR*/
:root{
  --color-primary: rgba(255, 0, 0, 0.89);
  --color-darker: rgb(49, 0, 0);
  --color-dark: rgba(155, 22, 22, 0.897);
  --color-regular: rgba(161, 0, 0, 0.89);
  --color-light: rgba(255, 0, 0, 0.89);
  --color-lighter: rgba(255, 38, 38, 0.89);
  --color-white: rgba(255, 118, 118, 0.89);
  --color-transparent: rgba(0, 0, 0, 0.2);
  --color-linear: linear-gradient( to top, #ff0000, #f4f4);
  
  --txt-dark: rgba(0, 0, 0, 0.89);
  --txt-regular: rgba(75, 75, 75, 0.89);
  --txt-light: rgba(214, 211, 211, 0.89);
}