/*Cadastrar noticia*/
.form-container{
    width: 100vw;
    height: 100%;
    position: relative;
}

.formulario-box{
    grid-column: 1/4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
     
    gap: 10px 0;
    padding: 30px;
    max-width: 800px;
}
.formulario-box h1{
    text-transform: uppercase;
    text-align: center;
    color: var(--txt-dark);
    font-size: 1.8rem;
}
.formulario-box h1::after{
    content: "";
    width: 60%;
    height: 4px;
    border-radius: 20px;
    background: var(--color-secondary-linear);
    display: block;
    margin: 0  15px  0 auto;
}



.formulario-box input::-webkit-input-placeholder, 
.formulario-box textarea::-webkit-input-placeholder{
    background-color:transparent !important; 
}


.formulario-box input, 
.formulario-box a, 
.formulario-box input::-webkit-input-placeholder, 
.formulario-box textarea::-webkit-input-placeholder,
.formulario-box textarea{
    background-color: var(--color-secondary-transparent);
    padding: 5px;
    border-radius: 5px;
    color: var(--txt-dark);
    font-size: 1.6rem;
    outline: none;
    border: none;
    text-align: center;
    text-transform: lowercase; 
}

.box-sucesso,
.box-falha,
.box-existente{
    width: 500px;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    text-transform: capitalize;
    font-size: 1.2rem;
    margin: auto;
    margin-top: -20px;
    margin-bottom: 5px;
    color: var(--txt-light);
}

.box-existente,
.box-falha{
    background-color: red;
}

.box-sucesso{
    background-color: seagreen;
}