/*FOOTER*/
footer{
   
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
    color: var(--txt-light);
    background-image: var(--color-primary-linear);
    width: 100vw;
    padding: 10px;
   
}