@import "layout/cadastro.css";
@import "layout/index.css";
@import "metrics/colors.css";
@import "metrics/fonts.css";
@import "footer.css";
@import "header.css";


/*Reset*/
* { 
    margin: 0;
    padding: 0;
    list-style: none;    
    text-decoration: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-dark);
}
